.mainDiv{
    display: flex;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(12, 94, 94);
    padding: 1%;
    text-align: center;
}

.div1{
    width: 20%;
    margin-top: 4%;
}

.div2{
    width: 80%;
}



@media screen and (max-width: 700px) {
    .mainDiv{
        flex-direction: column;
        text-align: center;
    }

    .div1, .div2{
        width: 99%;
        margin: 2%;
    }
}

.btnAddNew{
    outline: none;
    border: 1.4px solid rgb(222, 233, 233);
    border-radius: 8%;
    color: rgb(59, 85, 85);
    font-size: 22px;
    padding: 5px 10px;
    background-color: rgb(229, 240, 240);
}

.btnAddNew:hover{
    background-color:rgb(195, 224, 224);
}
