.renderAllPlants{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3%;
}


.cardContainerAll{
    width: 230px;
    margin: 20px;
    background-color: rgb(159, 194, 189);
    box-shadow: 1px 1px 2px rgb(202, 212, 214);
    cursor: pointer;
}

.cardBodyAll{
    background-color: rgb(244, 250, 249);
}

.paginationPlants{
    float: right;
    margin: 0 10% 3% 0;
}


@media screen and (max-width: 1000px) {
    .renderAllPlants{
        flex-direction: column;
    }
}


@media screen and (max-width: 500px) {
    .renderAllPlants{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-left: 2%;
    }

    .paginationPlants{
        margin: 0 25% 3% 0;
        
    }


}